body {
  background-color: #E0ffff;
}
h1 {
  background-color: red;
  text-align: center;
}
footer {
  background-color: red;
  color: white;
}
img {
  border-style: dotted;
  border-color: green;
}
p {
  font-style: italic;
  text color: white;
}
li {
  font-family: fantasy;
}
